/*

*/
/* 
    Created on : Apr 2, 2016, 7:09:40 PM
    Author     : Noah
*/
/*.top_toolbar {
    -fx-border-width: 2px;
    -fx-border-color: RED;
} */

/* TODO: Make text resizable with zoom */
#display_text {
    -fx-font-family: 'sans-serif';
    -fx-font-weight: normal;
    -fx-font-size: 15px;
}

.top_sub_toolbar {
    -fx-spacing: 10;
    -fx-border-radius: 5.0;
    -fx-padding: 5 10 5 10;
    -fx-alignment: CENTER;
    -fx-border-width: 2px;
    -fx-border-color: BLACK;
}

.top_view_toolbar {
    -fx-spacing: 10;
    -fx-border-radius: 5.0;
    -fx-padding: 5 10 5 10;
    -fx-alignment: CENTER_LEFT;
    -fx-border-width: 2px;
    -fx-border-color: BLACK;
    -fx-hgap: 10;
}

.top_button_large {
    -fx-padding: 5 9 5 9;
}

.top_button_small {
    -fx-padding: 2 17 2 17;
}

.top_export_vbox {
    -fx-spacing: 2 0 2 0;
    -fx-alignment: CENTER;
}

.top_check_vbox {
    -fx-spacing: 5 0 5 0;
    -fx-alignment: CENTER;
}

.right_gridpane {
    -fx-spacing: 10;
    -fx-border-radius: 5.0;
    -fx-padding: 15 10 15 10;
    -fx-alignment: CENTER;
    -fx-border-width: 2px;
    -fx-border-color: BLACK;
    -fx-hgap: 40;
    -fx-vgap: 40;
}